{% extends "profile-base.html" %} {% block content %} {% load static %} {% include 'web/includes/header.html' %}
<div class="container input-container col-lg-12 col-md-12 pt-5">
    <h6 class="checkout__title">Edit Profile</h6>
    <form action="" method="post" class="input-form ajax redirect" >
        {% csrf_token %}
        {{form.as_p}}
        {% if error %}
            {{message}}
        {% endif %}
        <div class="pb-5 d-flex justify-content-center">
            <button type="submit" class="site-btn text-center mt-3">Submit</button>
        </div>
    </form>
</div>
{% include 'web/includes/footer.html' %} {% endblock %}
