{% extends "profile-base.html" %}  
{% block content %} 
{% load static %} 
{% include 'web/includes/header.html' %}

<section style="background-color: #eee" class="d-flex">
    <!-- Sidebar -->
    {% include 'profile/includes/sidebar.html' %}
    
    <!-- User Profile Info -->
    <div class="col-lg-2 mt-4 mb-4">
        <div class="card mb-4 h-100">
            <div class="card-body text-center d-flex flex-column justify-content-center align-items-center">
                {% if user.profile_picture %}
                    <img src="{{user.profile_picture.url}}"
                        alt="avatar" class="rounded-circle img-fluid" style="width: 150px" />
                {% else %}
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                    alt="avatar" class="rounded-circle img-fluid" style="width: 150px" />
                {% endif %}
                <h5 class="my-3">{{user.first_name}}</h5>
            </div>
        </div>
    </div>
    <!-- User Details -->
    <div class="col-lg-8 mt-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Full Name</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">{{user.first_name}} {{user.last_name}}</p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">{{user.email}}</p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Phone</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">{{user.phone_number}}</p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Referral Code</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">{{user.referral_code}}</p>
                    </div>
                </div>
                <hr />
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <p class="mb-0">Address</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0"> {{default_address.first_name}} {{default_address.address_line1}} {{default_address.address_line1}},
                            {{ default_address.city }}, {{ default_address.country }}
                        </p>
                    </div>
                </div>
                <div class="d-flex">
                    <a href="{% url 'user_profile:profile_edit' %}" class="btn btn-primary mr-3">Edit Profile</a>
                    <a href="{% url 'user_profile:profile_change_password' %}" class="btn btn-secondary mr-3">Change Password</a>
                    <a href="{% url 'user:logout' %}" class="btn btn-danger">Log Out</a>
                </div>
            </div>
        </div>
    </div>
</section>


{% include 'web/includes/footer.html' %} 
{% endblock %}
