{% extends "profile-base.html" %} {% block content %} {% load static %}
{% load range_rating %}
<style>
    <!-- Custom CSS for the star rating -->
    .rating {
        display: inline-block;
        margin: 0;
    }

    .rating label {
        font-size: 30px;
        cursor: pointer;
        color: #ccc; /* Default star color */
    }

    .rating label:before {
        content: '\2605'; /* Unicode character for an empty star */
    }

    .rating input[type="radio"] {
        display: none;
    }

    .rating input[type="radio"]:checked ~ label:before {
        content: '\2605'; /* Unicode character for a filled star when selected */ /* Filled star color when selected */
    }

    /* Rating Star Widgets Style */
    .rating-stars ul {
        list-style-type: none;
        padding: 0;

        -moz-user-select: none;
        -webkit-user-select: none;
    }
    .rating-stars ul > li.star {
        display: inline-block;
    }

    /* Idle State of the stars */
    .rating-stars ul > li.star > i.fa {
        font-size: 2.5em; /* Change the size of the stars */
        color: #ccc; /* Color on idle state */
    }

    /* Hover state of the stars */
    .rating-stars ul > li.star.hover > i.fa {
        color: #FFCC36;
    }

    /* Selected state of the stars */
    .rating-stars ul > li.star.selected > i.fa {
        color: #FF912C;
    }
</style>
<section style="background-color: #eee col-md-12">
    {% include 'web/includes/header.html' %}
    <div class=" align-items-center pt-15">
        <div class="row d-flex justify-content-center mb-4">
            <div class="pl-5 col-md-8 col-xl-8">
                <div class="card shadow border rounded-3">
                    <div class="card-body d-flex">
                        <div class="row mb-3 w-100">
                                <div class="col-md-4 mb-3">
                                    <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                        <img
                                            src="{{order.product.featured_image.url}}"
                                            style="width: 150px; height: 150px"
                                        />
                                        <a href="#!">
                                            <div class="hover-overlay">
                                                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15)"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-8 d-flex">
                                    <div>
                                        <h5>{{order.product.title}}</h5>
                                        <p><b>Quantity: </b>{{order.quantity}}</p>
                                        <p><b>Status: </b>{{order.order_status.status}}</p>
                                        <h4 class="mt-2 mb-3">₹{{order.total_product_price}}</h4>
                                        {% if order.order_status.status == "Delivered" %}
                                        <a type="button" href="{% url 'user_profile:profile_order_cancel' order.id %}" class="btn btn-primary" >Return</a>
                                        {% else %}
                                        <a type="button" href="{% url 'user_profile:profile_order_return' order.id %}" class="btn btn-danger" >Cancel</a>
                                        {% endif %}
                                    </div>
                                </div>
                        </div>
                        <div class="row w-100">
                            <div class="col-md-12">
                                <p>
                                    <b>{{product_order.shipping_address.first_name}}</b><br/>
                                    {{product_order.shipping_address.city}}, {{product_order.shipping_address.state}}<br />
                                    {{product_order.shipping_address.address_line1}}<br/>
                                    {{product_order.shipping_address.address_line2}}<br/>
                                    {{product_order.shipping_address.pin_code}}<br/>
                                    <b>Phone Number : {{product_order.shipping_address.phone_number}}</b><br />
                                    <b>Order Date : {{ product_order.purchased_date|date:"j F Y" }}</b>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {% for review in reviews %}
                        <div class="mb-3">
                            <p>Comment: {{ review.comment }}</p>
                            <div class="rating-stars">
                                <ul class="stars">
                                    {% for i in 5|create_range %}
                                        <li class="star ">
                                            <i class="fa fa-star fa-fw {% if i < review.rating %}text-warning{% endif %}"></i>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% if review.reply %}
                            <div class="mb-3">
                                <p>Reply:  {{ review.reply }}</p>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% if order.order_status.status == "Delivered" and review == "" %}
                    <form id='form-review' class="ajax-review">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="review">Leave a Review:</label>
                            <textarea class="form-control" id="review" name="comment" rows="4"></textarea>
                        </div>
                        <div class='rating-stars text-center'>
                            <ul id='stars'>
                                <li class='star' title='Poor' data-value='1'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Fair' data-value='2'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Good' data-value='3'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Excellent' data-value='4'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='WOW!!!' data-value='5'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                            </ul>
                        </div>
                        <button data-order-id="{{order.id}}" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<script src="{% static 'admin/libs/jquery/dist/jquery.min.js' %}"></script>
{% include 'web/includes/footer.html' %}
{% endblock %}
