{% load static %}
<div class="header">
    <!-- navbar -->
    <div class="navbar-custom navbar navbar-expand-lg">
        <div class="container-fluid px-0">
            <a class="navbar-brand d-block d-md-none" href="index.html">
                <img src="{% static 'admin/images/brand/logo/logo-2.svg' %}" alt="Image" />
            </a>

            <a id="nav-toggle" href="#!" class="ms-auto ms-md-0 me-0 me-lg-3">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="28"
                    height="28"
                    fill="currentColor"
                    class="bi bi-text-indent-left text-muted"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm.646 2.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L4.293 8 2.646 6.354a.5.5 0 0 1 0-.708zM7 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
                    /></svg
            ></a>

            <div class="d-none d-md-none d-lg-block">
                <!-- Form -->
                <form action="#">
                    <div class="input-group">
                        <input
                            class="form-control rounded-3"
                            type="search"
                            value=""
                            id="searchInput"
                            placeholder="Search"
                        />
                        <span class="input-group-append">
                            <button class="btn ms-n10 rounded-0 rounded-end" type="button">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="15"
                                    height="15"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="feather feather-search text-dark"
                                >
                                    <circle cx="11" cy="11" r="8"></circle>
                                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                </svg>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            <!--Navbar nav -->
            <ul class="navbar-nav navbar-right-wrap ms-lg-auto d-flex nav-top-wrap align-items-center ms-4 ms-lg-0">
                {% if request.user.is_authenticated and request.user.is_superuser %}
                <li class="mr-2">{{username}}</li>
                <li class="ml-2" ><a class="ml-2" href="#"> Logout </a></li>
                {% else %}
                <li>Login</li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
