{% load static %}
<div class="header">
    <!-- navbar -->
    <div class="navbar-custom navbar navbar-expand-lg">
        <div class="container-fluid px-0">
            <a class="navbar-brand d-block d-md-none" href="index.html">
                <img src="{% static 'admin/images/brand/logo/logo-2.svg' %}" alt="Image" />
            </a>

            <a id="nav-toggle" href="#!" class="ms-auto ms-md-0 me-0 me-lg-3">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="28"
                    height="28"
                    fill="currentColor"
                    class="bi bi-text-indent-left text-muted"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm.646 2.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L4.293 8 2.646 6.354a.5.5 0 0 1 0-.708zM7 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
                    /></svg
            ></a>
            <!--Navbar nav -->
            <ul class="navbar-nav navbar-right-wrap ms-lg-auto d-flex nav-top-wrap align-items-center ms-4 ms-lg-0">
                {% if request.user.is_authenticated and request.user.is_superuser %}
                <a href="#" class="notification-icon" data-toggle="collapse" data-target="#notification-panel">
                    <i class="far fa-bell bell-icon-black"></i>
                    <span class="badge badge-danger text-white" id="notification-badge" style="left: 10px; top: -6px;">0</span>
                </a>
                <li style="margin-right: 5px; margin-left: 15px" >{{username}}</li>
                <li ><a class="ml-2" href="{% url 'customadmin:admin_logout' %}"> Logout </a></li>
                {% else %}
                <li>Login</li>
                {% endif %}
            </ul>
        </div>
        <div id="notification-panel" class="notification-panel">
            <ul class="list-group" id="notification-dropdown" style="width: 400px; height: 500px; overflow-y: auto;">
                {% for item in notification %}
                    <li class='list-group-item'>{{ item.message }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
