{% extends "base.html" %} {% block content %} {% load static %} {% include 'web/includes/header.html' %}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Check Out</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Home</a>
                        <a href="./shop.html">Shop</a>
                        <span>Check Out</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <div class="row">
                <div class="col-lg-8 col-md-6">
                    <div class="checkout__order mb-4">
                        <div class="checkout__input">
                            <label for="address">Default Address:</label>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    {{ user_default_address.first_name }} {{ user_default_address.last_name }}<br />
                                    {{ user_default_address.address_line1 }}<br />
                                    {{ user_default_address.city }}, {{ user_default_address.country }}<br />
                                    <span class="text-muted">Phone: {{ user_default_address.phone_number }}</span>
                                </li>
                            </ul>
                            <div>
                                <label for="address" class="mt-3">Select an Address:</label>
                                <p class="text-danger">*Select Your Address From Below for your Product.</p>
                            </div>
                            <select class="custom-select w-100" id="address" name="address">
                                <option
                                    value="{{ user_default_address.id }}"
                                    {% if user_default_address.is_preselected %}selected{% endif %}
                                >
                                    {{ user_default_address.first_name }} {{ user_default_address.last_name }} -
                                    {{user_default_address.address_line1 }}, {{ user_default_address.city }}, 
                                    {{ user_default_address.country }}
                                </option>
                                {% for user_address in user_addresses %}
                                <option
                                    value="{{ user_address.id }}"
                                    {% if user_address.is_preselected %}selected{% endif %}
                                >
                                    {{ user_address.first_name }} {{ user_address.last_name }} -
                                    {{user_address.address_line1 }}, {{ user_address.city }}, {{ user_address.country }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <button id="new-address" class="site-btn text-center mt-3">Add New Address</button>
                    </div>
                    <div class="col-lg-12 checkout__order">
                        <div class="cart__discount col-lg-8">
                            <h6>Discount codes</h6>
                            <form class="ajax-discount" method="post">
                                {% csrf_token %}
                                <input type="text" name="coupon" placeholder="Coupon code" />
                                <button type="submit">Apply</button>
                            </form>
                        </div>
                        <div class="col-lg-12">
                            <ul class="coupon-list mt-3 d-flex flex-wrap">
                                {% for coupon in coupons %}
                                <li id="coupon-{{coupon.id}}" class="coupon-item col-lg-6 mb-2 remove-coupon">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Coupon Code: {{coupon.code}}</h5>
                                            <p class="card-text">{{coupon.description}}</p>
                                            <button
                                                id="coupon-{{coupon.id}}"
                                                class="btn btn-primary copy-coupon"
                                                data-coupon="{{coupon.code}}"
                                            >
                                                Copy
                                            </button>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="checkout__order">
                        <h4 class="order__title">Your order</h4>
                        <div class="checkout__order__products">Product <span>Total</span></div>
                        <ul class="checkout__total__products">
                            {% for product in products %}
                            <li>
                                {{ product.qty }} X {{ product.product.title }}
                                <span>₹{{ product.total_price_of_product }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                        <ul class="checkout__total__all">
                            <li>Subtotal <span>₹{{total_amount}}</span></li>
                            {% if discount %}
                                <li>Discounted Price <span id="discount-total-amount" data-discounted-total-amount="{{ discount_amount }}">₹{{ discount_amount }}</span></li>
                            {% else %}
                                <li>Total <span id="total-amount" data-total-amount="{{ total_amount }}" >₹{{ total_amount }}</span></li>
                            {% endif %}
                        </ul>
                        <form method="post" action="" class="ajax-order">
                            <div class="checkout__input__radio">
                                <label for="cash-on-delivery">
                                    <input type="radio" id="cash-on-delivery" value="cash" name="payment-method" />
                                    Cash on Delivery
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            {% if not wallet %}
                            <div id="wallet" class="checkout__input__radio">
                                <label for="wallet">
                                    <input type="radio" id="wallet" value="wallet" name="payment-method" />
                                    Wallet
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            {% endif %}
                            <div class="checkout__input__radio">
                                <label for="digital">
                                    <input type="radio" id="digital" value="digital" name="payment-method" />
                                    Online Payment
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <button type="submit" class="site-btn">PLACE ORDER</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Checkout Section End -->

{% include 'web/includes/footer.html' %} {% endblock %}
