{% extends "base.html" %} {% block content %} {% load static %}
{% load paginator_tags %}
{% include 'web/includes/header.html' %}
<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="#">
                            <input type="text" name="q" placeholder="Search..." />
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <form method="get">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="category" value="All" id="allCategories" {% if 'All' in request.GET.getlist.category %}checked{% endif %}>
                                                            All
                                                        </label>
                                                    </li>
                                                    {% for category in categories %}
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="category" value="{{ category }}" class="category-checkbox" {% if category in category_params %}checked{% endif %}>
                                                            {{ category }}
                                                        </label>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo">Sort</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__brand">
                                                <ul class="nice-scroll">
                                                    <li>
                                                        <label>
                                                            <input type="radio" name="sort_by_price" value="low-to-high" {% if request.GET.sort_by_price == 'low-to-high' %}checked{% endif %}>
                                                            Low to High
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="radio" name="sort_by_price" value="high-to-low" {% if request.GET.sort_by_price == 'high-to-low' %}checked{% endif %}>
                                                            High to Low
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                                <button class="site-btn text-center mt-3" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                
                <div class="row">
                    {% for product in products %}
                    <a href="{% url 'shop:product_details' product.slug %}">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="">
                                <div class="product-img">
                                    <img src="{{product.featured_image.url}}" alt="" />
                                </div>
                                <ul class="product__hover">
                                    <li>
                                        <a href="#" class="add-to-wishlist" data-product-id="{{ product.id }}">
                                            {% comment %} <img src="{% static 'img/icon/heart.png' %}" alt="" />
                                             {% endcomment %}
                                             <i class="far fa-heart text-danger"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6>{{product.title}}</h6>
                                <a href="#" class="add-to-cart add-cart" data-product-id="{{ product.id }}">+ Add To Cart</a>
                                <div class="rating">
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                {% if product.discount_amount != 0.00 %}
                                    <h5>₹{{ product.discount_amount }}</h5>
                                    <del>₹{{product.price}}</del>
                                {% else %}
                                    <h5>₹{{product.price}}</h5>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                    </div>
                    {% endfor %}
                </div>
                {% load_pagination products %}
            </div>
        </div>
    </div>
</section>
<script>
    const allCategories = document.getElementById('allCategories');
    const categoryCheckboxes = document.querySelectorAll('.category-checkbox');

    categoryCheckboxes.forEach((checkbox) => {
        checkbox.addEventListener('change', () => {
            if (checkbox.checked) {
                allCategories.checked = false;
            }
        });
    });

    allCategories.addEventListener('change', () => {
        if (allCategories.checked) {
            categoryCheckboxes.forEach(checkbox => {
                checkbox.checked = false;
            });
        }
    });
</script>
<!-- Shop Section End -->
{% include 'web/includes/footer.html' %} 
 {% endblock %}
