<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <title>Male Fashion | Reset Password</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--===============================================================================================-->
        <link rel="icon" type="image/png" href="{% static 'img/icons/favicon.ico' %}" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" />
        <!--===============================================================================================-->
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}"
        />
        <!--===============================================================================================-->
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}"
        />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
        <!--===============================================================================================-->
    </head>
    <body>
        {% if success %}
        <div class="container mt-5">
            <div class="alert alert-success text-center">
                <h4 class="alert-heading">Reset Password</h4>
                <p>Your password Reset to your Mail</p>
            </div>
        </div>
        {% endif %}
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <form
                        class="login100-form validate-form"
                        action=""
                        method="post"
                    >
                        {% csrf_token %}
                        <span class="login100-form-title p-b-26"> Male Fashion </span>
                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <span
                                toggle="#password"
                                class="zmdi zmdi-eye-off field-icon toggle-password btn-show-pass"
                            ></span>
                            <input class="input100" id="password" type="password" name="password" placeholder="New Password" />
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <input class="input100" id="password" type="password" name="confirm_password" placeholder="Confirm Password" />
                        </div>
                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button type="submit" class="login100-form-btn">Submit</button>
                            </div>
                        </div>
                    </form>
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <a href="{% url 'user_profile:profile_details' %}" class="login100-form-btn">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Error:</strong>
            <ul>
                {% for error in form.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <!--===============================================================================================-->
        <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
        <!--===============================================================================================-->
        <script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
        <!--===============================================================================================-->
        <script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
        <!--===============================================================================================-->
        <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
        <!--===============================================================================================-->
        <script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
        <script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
        <!--===============================================================================================-->
        <script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
        <script src="{% static 'js/signup-main.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>
