<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Complete</title>
    <!-- Add Bootstrap CSS link here -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+LNUhVxIb/vz3PksrOj1zgsZnHj86dW+j5on5hq7wbb8F1fF" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <div class="alert alert-success text-center">
            <h1>Password Reset Complete</h1>
            <p>Your password has been successfully reset.</p>
            <p>You can now <a href="{% url 'user:login' %}" class="btn btn-primary">Log In</a> with your updated password.</p>
            <p>If you have any questions or need further assistance, please <a href="#" class="btn btn-link">contact our support team</a>.</p>
        </div>
    </div>

</body>
</html>
