{% extends "customadmin/admin-base.html" %} {% block content %} {% load static %}
<section style="background-color: #eee col-md-12">
    {% include 'customadmin/includes/admin-header.html' %} {% include 'customadmin/includes/sidebar.html' %}
    <div class=" align-items-center pt-15">
        <div class="row d-flex justify-content-center mb-4">
            <div class="pl-5 col-md-8 col-xl-8">
                <div class="card shadow border rounded-3">
                    <div class="card-body d-flex">
                        <div class="row mb-3 w-100">
                                <div class="col-md-4 mb-3">
                                    <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                        <img
                                            src="{{order.product.featured_image.url}}"
                                            style="width: 150px; height: 150px"
                                        />
                                        <a href="#!">
                                            <div class="hover-overlay">
                                                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15)"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-8 d-flex">
                                    <div>
                                        <h5>{{order.product.title}}</h5>
                                        <p><b>Quantity: </b>{{order.quantity}}</p>
                                        <form class="ajax-status">
                                            {% csrf_token %}
                                            <p>{{form.as_p}}</p>
                                            <button data-order-id={{order.id}} type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                        <h4 class="mt-2">₹{{order.total_product_price}}</h4>
                                    </div>
                                </div>
                        </div>
                        <div class="row w-100">
                            <div class="col-md-12">
                                <p>
                                    <b>{{product_order.shipping_address.first_name}}</b><br/>
                                    {{product_order.shipping_address.city}}, {{product_order.shipping_address.state}}<br />
                                    {{product_order.shipping_address.address_line1}}<br/>
                                    {{product_order.shipping_address.address_line2}}<br/>
                                    {{product_order.shipping_address.pin_code}}<br/>
                                    <b>Phone Number : {{product_order.shipping_address.phone_number}}</b><br />
                                    <b>Order Date : {{ product_order.purchased_date|date:"j F Y" }}</b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'admin/libs/jquery/dist/jquery.min.js' %}"></script>
{% endblock %}
