{% extends "customadmin/admin-base.html" %} {% block content %} {% load static %}
<main id="main-wrapper" class="main-wrapper">
    {% include 'customadmin/includes/admin-header.html' %}
    {% include 'customadmin/includes/sidebar.html' %}
    <!-- Page content -->
    <div id="app-content">
        <!-- Container fluid -->

        <div class="app-content-area">
            <div class="bg-primary pt-10 pb-21 mt-n6 mx-n4"></div>
            <div class="container-fluid mt-n22">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <!-- Page header -->
                        <div class="d-flex justify-content-between align-items-center mb-5">
                            <div class="mb-2 mb-lg-0">
                                <h3 class="mb-0 text-white">Dashboard</h3>
                            </div>
                            {% comment %} <div>
                                <a href="#!" class="btn btn-white">Create New Project</a>
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-12 col-12 mb-5">
                        <!-- card -->
                        <div class="card h-100 card-lift">
                            <!-- card body -->
                            <div class="card-body">
                                <!-- heading -->
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <div>
                                        <h4 class="mb-0">Total Revenue</h4>
                                    </div>
                                    <div class="icon-shape icon-md bg-primary-soft text-primary rounded-2">
                                        <i data-feather="dollar-sign" height="20" width="20"></i>
                                    </div>
                                </div>
                                <!-- project number -->
                                <div class="lh-1">
                                    <h1 class="mb-1 fw-bold">{% if total_revenue.total_revenue == None %}0{% else %}{{total_revenue.total_revenue}}{% endif %}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 col-12 mb-5">
                        <!-- card -->
                        <div class="card h-100 card-lift">
                            <!-- card body -->
                            <div class="card-body">
                                <!-- heading -->
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <div>
                                        <h4 class="mb-0">Monthly Revenue</h4>
                                    </div>
                                    <div class="icon-shape icon-md bg-primary-soft text-primary rounded-2">
                                        <i data-feather="calendar" height="20" width="20"></i>
                                    </div>
                                </div>
                                <!-- project number -->
                                <div class="lh-1">
                                    <h1 class="mb-1 fw-bold">{{current_month_revenue}}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 col-12 mb-5">
                        <!-- card -->
                        <div class="card h-100 card-lift">
                            <!-- card body -->
                            <div class="card-body">
                                <!-- heading -->
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <div>
                                        <h4 class="mb-0">Total Sales</h4>
                                    </div>
                                    <div class="icon-shape icon-md bg-primary-soft text-primary rounded-2">
                                        <i data-feather="shopping-cart" height="20" width="20"></i>
                                    </div>
                                </div>
                                <!-- project number -->
                                <div class="lh-1">
                                    <h1 class="mb-1 fw-bold">{{total_sales_count}}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 col-12 mb-5">
                        <!-- card -->
                        <div class="card h-100 card-lift">
                            <!-- card body -->
                            <div class="card-body">
                                <!-- heading -->
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <div>
                                        <h4 class="mb-0">Monthly Sales</h4>
                                    </div>
                                    <div class="icon-shape icon-md bg-primary-soft text-primary rounded-2">
                                        <i data-feather="bar-chart-2" height="20" width="20"></i>
                                    </div>
                                </div>
                                <!-- project number -->
                                <div class="lh-1">
                                    <h1 class="mb-1 fw-bold">{{current_month_sales_count}}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="container mb-5">
                    <h1>Monthly Sales Report</h1>
                    <canvas id="monthlySalesChart"></canvas>
                </div>
                <!-- row  -->
                <div class="row mb-5">
                    <div class="col-xl-4 col-lg-12 col-md-12 col-12 mb-5">
                        <!-- card  -->
                        <div class="card h-100">
                            <!-- card body  -->
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <div>
                                    <h4 class="mb-0">Transactions</h4>
                                </div>

                                <!-- dropdown  -->
                                <div class="dropdown dropstart">
                                    <a
                                        class="btn btn-icon btn-ghost btn-sm rounded-circle"
                                        href="#!"
                                        role="button"
                                        id="dropdownTask"
                                        data-bs-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                    >
                                        <i class="icon-xs" data-feather="more-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownTask">
                                        <a class="dropdown-item d-flex align-items-center" href="#!">Action</a>
                                        <a class="dropdown-item d-flex align-items-center" href="#!">Another action</a>
                                        <a class="dropdown-item d-flex align-items-center" href="#!">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <!-- chart  -->
                                <div class="mb-6">
                                    <div id="performanceChart"></div>
                                </div>
                                <!-- icon with content  -->
                                <div class="d-flex align-items-center justify-content-around">
                                    <div class="text-center">
                                        <i class="fas fa-money-check-alt icon-sm text-success"></i> <!-- Check circle icon -->
                                        <h1 class="fs-2 mb-0">{{cod_percentage}}</h1>
                                        <p>COD</p>
                                    </div>
                                    <div class="text-center">
                                        <i class="fas fa-wallet icon-sm text-warning"></i> <!-- Trending up icon -->
                                        <h1 class="fs-2 mb-0">{{wallet_percentage}}</h1>
                                        <p>Wallet</p>
                                    </div>
                                    <div class="text-center">
                                        <i class="fas fa-credit-card icon-sm text-danger"></i> <!-- Trending down icon -->
                                        <h1 class="fs-2 mb-0">{{online_percentage}}</h1>
                                        <p>Online</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12 col-md-12 col-12 mb-5">
                        <div class="card h-100">
                            <!-- card header  -->
                            <div class="card-header">
                                <h4 class="mb-0">Top Products</h4>
                            </div>
                            <!-- table  -->
                            <div class="card mb-5">
                                <div class="scrollable-card-container" style="max-height: 500px; overflow-y: scroll;">
                                    {% for product in top_selling_products  %}
                                        <div class="row g-0 mb-3">
                                            <div class="col-md-5">
                                                <img src="/media/{{product.product__featured_image}}" alt="Image" class="img-fluid" style="height: 143px" />
                                            </div>
                                            <div class="col-md-7">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{product.produt__title}}</h5>
                                                    <p class="card-text">Quantity: {{product.total_quantity_sold}}</p>
                                                    <p class="card-text">Price: ₹{{product.total_product_price}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12 col-md-12 col-12 mb-5">
                        <div class="card h-100">
                            <!-- card header  -->
                            <div class="card-header">
                                <h4 class="mb-0">Top Categories</h4>
                            </div>
                            <!-- table  -->
                            <div class="card mb-5">
                                <div class="scrollable-card-container" style="max-height: 500px; overflow-y: scroll;">
                                    {% for category in top_categories %}
                                        <div class="row g-0">
                                            <div class="col-md-7">
                                                <div class="card-body d-flex">
                                                    <span class="mr-2">{{ forloop.counter }}.</span>
                                                    <h5 class="card-title text-capitalize">{{ category.product__category__name }}</h5>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-12 col-12 mb-5">
                        <!-- card -->
                        <div class="card h-100 card-lift">
                            <!-- card body -->
                            <div class="card-body">
                                <!-- heading -->
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <div>
                                        <h4 class="mb-0">
                                            <i class="fas fa-users mr-2"></i> <!-- User icon -->
                                            Total Users
                                        </h4>
                                    </div>
                                </div>
                                <!-- project number -->
                                <div class="lh-1">
                                    <h1 class="mb-1 fw-bold">{{total_users}}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 col-12 mb-5">
                        <!-- card -->
                        <div class="card h-100 card-lift">
                            <!-- card body -->
                            <div class="card-body">
                                <!-- heading -->
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <div>
                                        <h4 class="mb-0">
                                            <i class="fas fa-shopping-cart mr-2"></i> <!-- Shopping cart icon -->
                                            Total Orders
                                        </h4>
                                    </div>
                                </div>
                                <!-- project number -->
                                <div class="lh-1">
                                    <h1 class="mb-1 fw-bold">{{total_orders}}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 col-12 mb-5">
                        <!-- card -->
                        <div class="card h-100 card-lift">
                            <!-- card body -->
                            <div class="card-body">
                                <!-- heading -->
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <div>
                                        <h4 class="mb-0">
                                            <i class="fas fa-ban mr-2"></i> <!-- Ban icon -->
                                            Blocked Users
                                        </h4>
                                    </div>
                                </div>
                                <!-- project number -->
                                <div class="lh-1">
                                    <h1 class="mb-1 fw-bold">{{total_blocked_users}}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 col-12 mb-5">
                        <!-- card -->
                        <div class="card h-100 card-lift">
                            <!-- card body -->
                            <div class="card-body">
                                <!-- heading -->
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <div>
                                        <h4 class="mb-0">
                                            <i class="fas fa-clock mr-2"></i> <!-- Clock icon -->
                                            Order Pending
                                        </h4>
                                    </div>
                                </div>
                                <!-- project number -->
                                <div class="lh-1">
                                    <h1 class="mb-1 fw-bold">{{total_pending_order}}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row  -->
                <div class="row">
                    <!-- card  -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-5 mb-xl-0">
                        <div class="card h-100">
                            <!-- card header  -->
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h4 class="mb-0">Order Return</h4>
                                <div class="dropdown">
                                    <a
                                        class="btn btn-outline-white btn-sm dropdown-toggle"
                                        href="#"
                                        role="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"
                                    >
                                        Task
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- table  -->
                            <div class="card-body">
                                <div class="table-card">
                                    <table class="table text-nowrap mb-0 table-centered table-hover">
                                        <thead class="table-light">
                                            <tr>
                                                <th>Product</th>
                                                <th>Reason</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for order in orders_cancel_return  %}
                                            <tr>
                                                    <td>
                                                        <a href="/customadmin/order/orders-cancelled-or-returned/?title={{ order.ordered_product.product.title }}">
                                                            <div class="form-check">
                                                                <label class="form-check-label" for="flexCheckOne">
                                                                    {{ order.ordered_product.product.title }}
                                                                </label>
                                                            </div>
                                                        </a>
                                                    </td>
                                                    <td>{{order.reason}}</td>
                                                    <td>
                                                        <span class="badge badge-warning-soft">{{order.status}}</span>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</main>
<script src="{% static 'admin/libs/jquery/dist/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
<script>
        const codPercentage = "{{ cod_percentage | default_if_none:0 }}";
        const walletPercentage = "{{ wallet_percentage | default_if_none:0 }}";
        const onlinePercentage = "{{ online_percentage | default_if_none:0 }}";
        const salesData = JSON.parse('{{ monthly_sales_count | escapejs }}');

        let count = [0,0,0,0,0,0,0,0,0,0,0,0];
        salesData.sales_data.forEach(function(item) {
            const dateString = item.month; 
            const parts = dateString.split('-');
            if (parts.length === 3) {
              const year = parseInt(parts[0]);
              const month = parseInt(parts[1]);
              const day = parseInt(parts[2]);
              
              if (!isNaN(year) && !isNaN(month) && !isNaN(day)) {
                const monthNumber = month - 1; 
                count[monthNumber] = item.sales_count
              } else {
                console.log('Invalid Date:', item.month);
              }
            } else {
              console.log('Invalid Date Format:', item.month);
            }
        });    

        $(document).ready(function () {
    var salesData = {
        labels: [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December",
        ],
        datasets: [
            {
                label: "Monthly Sales",
                backgroundColor: "rgba(75, 192, 192, 0.2)",
                borderColor: "rgba(75, 192, 192, 1)",
                borderWidth: 1,
                data: count, // Replace with your actual sales data for all months
            },
        ],
    };

    var ctx = document.getElementById("monthlySalesChart").getContext("2d");
    var myChart = new Chart(ctx, {
        type: "bar", // You can choose other chart types like line, pie, etc.
        data: salesData,
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                },
            },
        },
    });

})
</script>
{% endblock %}
