{% extends "customadmin/admin-base.html" %} {% block content %} {% load static %}
{% load paginator_tags %}
<!-- Wrapper -->
<main id="main-wrapper" class="main-wrapper">
    {% include 'customadmin/includes/admin-header.html' %} {% include 'customadmin/includes/sidebar.html' %}
    <div id="app-content">
        <!-- Container fluid -->
        <div class="app-content-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <!-- Page header -->
                        <div class="mb-5">
                            <h3 class="mb-0">Order Management</h3>
                        </div>
                    </div>
                </div>
            <div>
                    <!-- row -->
            <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class='d-flex w-100'>
                                    <div class="search-bar w-25 mt-2 mb-2 ml-2">
                                        <form>
                                            <input
                                                type="text"
                                                name="search"
                                                class="form-control"
                                                placeholder="Search..."
                                            />
                                        </form>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center dropdown-filters">
                                        <select class="form-select" id="userFilter" style="height:40px">
                                            <option value="">All Users</option>
                                        </select>
                                        <select class="form-select" id="statusFilter" style="height:40px">
                                            <option value="">All Statuses</option>
                                            <option value="Delivered">Delivered</option>
                                            <option value="Returned">Returned</option>
                                            <option value="Cancelled">Cancelled</option>
                                        </select>
                                        <select class="form-select" id="statusFilter" style="height:40px">
                                            <option value="">All Category</option>
                                            <option value="Delivered">Delivered</option>
                                            <option value="Returned">Returned</option>
                                            <option value="Cancelled">Cancelled</option>
                                        </select>
                                    </div>
                                 </div>
                                <div class="card-body">
                                    <div class="table-responsive table-card">
                                        <table
                                            id="example"
                                            class="table text-nowrap table-centered mt-0"
                                            style="width: 100%"
                                        >
                                            <thead class="table-light">
                                                <tr>
                                                    {% for name in heading %}
                                                    <th>{{name}}</th>
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for order in orders %}
                                                <tr>
                                                    <td>{{order.user.first_name}} {{order.user.last_name}}</td>

                                                    <td>
                                                        {% for item in order.order_items.all %}
                                                        <a href="{% url 'customadmin:admin_order_details' item.id %}">
                                                            {{item.product.title}}<br>
                                                        </a>
                                                        {% endfor %}
                                                    </td>

                                                    <td>₹{{order.total_price}}</td>
                                                        <td>
                                                            {% for item in order.order_items.all %}
                                                                {% if item.order_status.status == 'Delivered' %}
                                                                    <span class="text-success">{{ item.order_status }}</span>
                                                                {% elif item.order_status.status == 'Returned' or item.order_status.status == 'Cancelled'  %}
                                                                <span class="text-danger">{{ item.order_status }}</span>
                                                                {% elif item.order_status.status == 'Requested For Cancelling' or item.order_status.status == 'Requested For Returning' %}
                                                                <span class="text-warning">{{ item.order_status }}</span>
                                                                {% elif item.order_status.status == 'Shipped' or item.order_status.status == 'Refunded'  %}
                                                                <span class="text-primary">{{ item.order_status }}</span>
                                                                {% elif item.order_status.status == 'Pending' %}
                                                                <span class="text-warning">{{ item.order_status }}</span>
                                                                {% endif %}
                                                        </br>
                                                            {% endfor %}
                                                        </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% load_pagination orders %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
