{% extends "customadmin/admin-base.html" %} {% block content %} {% load static %}
{% load paginator_tags %}
<!-- Wrapper -->
<main id="main-wrapper" class="main-wrapper">
    {% include 'customadmin/includes/admin-header.html' %} {% include 'customadmin/includes/sidebar.html' %}
    <div id="app-content">
        <!-- Container fluid -->
        <div class="app-content-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <!-- Page header -->
                        <div class="mb-5">
                            <h3 class="mb-0">Order Management</h3>
                        </div>
                    </div>
                </div>
                <div>
                    <!-- row -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="search-bar w-25 mt-2 mb-2 ml-2">
                                    <form>
                                        <input
                                            type="text"
                                            name="search"
                                            class="form-control"
                                            placeholder="Search..."
                                        />
                                    </form>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive table-card">
                                        <table
                                            id="example"
                                            class="table text-nowrap table-centered mt-0"
                                            style="width: 100%"
                                        >
                                            <thead class="table-light">
                                                <tr>
                                                    {% for name in heading %}
                                                    <th>{{name}}</th>
                                                    {% endfor %}
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for order in orders %}
                                                <tr>
                                                    <td>
                                                        {{order.ordered_product.product.title}}
                                                    </td>

                                                    <td>{{order.reason}}</td>
                                                        <td>
                                                            {% if order.status == "completed" %}
                                                                <span id='status-completed' class="text-success text-capitalize">{{ order.status }}</span>
                                                            {% else %}
                                                                <span id='status-pending' class="text-warning text-capitalize">{{ order.status }}</span>
                                                            {% endif %}
                                                        </br>
                                                        </td>
                                                    <td>
                                                        {% if order.status == "cancel" or order.status == 'return' %}
                                                            <a
                                                                type="button"
                                                                data-item-id="{{order.id}}"
                                                                class="btn bg-warning approve-product"
                                                                data-template="editOne"
                                                            >
                                                                Approve
                                                            </a>
                                                        {% elif order.status == "approved" %}
                                                            <a
                                                                type="button"
                                                                data-item-id="{{order.id}}"
                                                                class="btn bg-danger refund-product"
                                                                data-template="editOne"
                                                            >
                                                                Refund
                                                            </a>
                                                        {% else %}
                                                        <a
                                                            href=""
                                                            class="btn btn-ghost btn-icon btn-sm rounded-circle texttooltip"
                                                            data-template="editOne"
                                                        >
                                                            <i data-feather="edit" class="icon-xs"></i>
                                                            <div id="editOne" class="d-none">
                                                                <span>Edit</span>
                                                            </div>
                                                        </a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% load_pagination products %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
