{% extends "customadmin/admin-base.html" %} {% block content %} {% load static %}
<div>
    <div class="mb-12">
    {% include 'customadmin/includes/admin-header.html' %}
    </div>
        <div class="row">
            <div class="col-md-3">
                {% include 'customadmin/includes/sidebar.html' %}
            </div>
            <div class="col-md-8">
                <section>
                    <h1>Sales Report</h1>
                    <!-- Date Range Filter -->
                    <div class="row d-flex align-items-center">
                        <form method="post" action="{% url 'customadmin:admin_sales_report' %}">
                            {% csrf_token %}
                            <div class="row d-flex align-items-center">
                                <div class="col-md-4">
                                    <label for="fromDate">From Date:</label>
                                    <input type="date" class="form-control" id="fromDate" name="from_date" />
                                </div>
                                <div class="col-md-4">
                                    <label for="toDate">To Date:</label>
                                    <input type="date" class="form-control" id="toDate" name="to_date" />
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-primary" id="filterButton">Filter</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="mt-4 d-flex justify-content-between w-100">
                        <a href="{% url "customadmin:download_sales_report_csv" %}" class="btn btn-success">Download Report</a>
                        <select class="form-select w-30" id="orderStatus" name="order_status">
                            <option value="">All Orders</option>
                            <option value="Pending">Pending</option>
                            <option value="Delivered">Delivered</option>
                            <option value="Cancelled">Cancelled</option>
                            <option value="Returned">Returned</option>
                        </select>
                    </div>
                    <!-- Sales Orders Table -->
                    <div class="row mt-4">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>Product-Qty</th>
                                    <th>Date</th>
                                    <th>Customer</th>
                                    <th>Total Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td>{{order.id}}</td>
                                    <td>
                                        {% for item in order.order_items.all %}
                                            {{item.product.title}} - {{item.quantity}}
                                        {% endfor %}
                                    </td>
                                    <td>{{ order.purchased_date|date:"j M Y" }}</td>
                                    <td>{{order.user.first_name}} {{order.user.last_name}}</td>
                                    <td>₹{{order.total_price}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- Download Button -->
                    
                </section>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('orderStatus').addEventListener('change', function() {
            // Get the selected value
            const selectedValue = this.value;
        
            // Get the current base URL (excluding the query string)
            const baseUrl = window.location.href.split('?')[0];
        
            // Construct the URL with the selected value as a query parameter
            const url = `${baseUrl}?order_status=${selectedValue}`;
        
            window.location.href = url;
            console.log('Selected Value:', selectedValue);
            console.log('URL:', url);
        });
    </script>

 {% endblock %}

