{% extends "customadmin/admin-base.html" %} {% block content %} {% load static %}
{% load paginator_tags %}
<!-- Wrapper -->
<main id="main-wrapper" class="main-wrapper">
    {% include 'customadmin/includes/admin-header.html' %} {% include 'customadmin/includes/sidebar.html' %}
    <div id="app-content">
        <!-- Container fluid -->
        <div class="app-content-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <!-- Page header -->
                        <div class="mb-5">
                            <h3 class="mb-0">Order Management</h3>
                        </div>
                    </div>
                </div>
                <div>
                    <!-- row -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="search-bar w-25 mt-2 mb-2 ml-2">
                                    <form>
                                        <input
                                            type="text"
                                            name="search"
                                            class="form-control"
                                            placeholder="Search..."
                                        />
                                    </form>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive table-card">
                                        <table
                                            id="example"
                                            class="table text-nowrap table-centered mt-0"
                                            style="width: 100%"
                                        >
                                            <thead class="table-light">
                                                <tr>
                                                    {% for name in heading %}
                                                    <th>{{name}}</th>
                                                    {% endfor %}
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for order in orders %}
                                                <tr>
                                                    <td>{{order.user.first_name}} {{order.user.last_name}}</td>
                                                    <td>{{order.product.title}}</td>
                                                    <td>{{order.order_total_price}}</td>
                                                    <td class="{% if order.order_status.status == 'Pending' %}text-warning{% elif order.order_status.status == 'Cancelled' %}text-danger{% elif order.order_status.status == 'Shipped' %}text-primary{% else %}text-success{% endif %}">
                                                        {{ order.order_status.status }}
                                                    </td>
                                                    <td>
                                                        <a
                                                            href="{% url 'customadmin:admin_order_edit' order.id %}"
                                                            class="btn btn-ghost btn-icon btn-sm rounded-circle texttooltip"
                                                            data-template="editOne"
                                                        >
                                                            <i data-feather="edit" class="icon-xs"></i>
                                                            <div id="editOne" class="d-none">
                                                                <span>Edit</span>
                                                            </div>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% load_pagination products %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
