.input-container .input-form {
    display: flex;
}
.input-container .input-form span {
    margin-bottom: 15px;
    display: block;
}
.input-container .input-form label {
    margin-bottom: 5px;
}
.input-container .input-form input[type="text"]{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}
.input-container .input-form input[type="email"]{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}
.input-container .input-form input[type="password"]{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}
.input-container .input-form input[type="tel"]{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}
.input-container .input-form input[type="file"]{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 24px;
}
.input-container .input-form input[type="number"]{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}
.input-container .input-form textarea{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}

/* .input-container .input-form input[type="checkbox"]{
    display: inline-block;
    width: 10%;
    padding: 5px;
    border: 1px solid #ccc;
} */
/* .input-container .input-form a {
    display: block;
}
.input-container .input-form button {
    margin-top: 20px;
} */


div.pagination {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
div.pagination a.prev {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #5e5e5e;
    font-weight: 700;
}
div.pagination a.prev span, div.pagination .disabled.prev span {
    transform: rotate(90deg);
    margin-right: 10px;
    width: 15px;
}
div.pagination a.next, div.pagination .disabled {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: #5e5e5e;
}
div.pagination a.next span, div.pagination .disabled.next span {
    transform: rotate(-90deg);
    margin-left: 10px;
    width: 15px;
}
div.pagination .disabled {
    color: #ccc;
    cursor: not-allowed;
}
div.pagination div.pages {
    display: flex;
    align-items: center;
}
div.pagination div.pages span.active {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    width:30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#b7b7b7;
    border-radius: 4px;
    margin-right: 10px;
}
div.pagination div.pages a {
    color: #5e5e5e;
    font-size: 18px;
    font-weight: 700;
    width:30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

}
div.pagination div.pages a:hover {
    background: #c9eee4;
}
