<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Male Fashion | Signup</title>

        <!-- Font Icon -->
        <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}" />

        <!-- Main css -->
        <link rel="stylesheet" href="{% static 'css/signup-style.css' %}" />
    </head>
    <body>
        <div class="main">
            <section class="signup">
                <!-- <img src="images/signup-bg.jpg" alt=""> -->
                <div class="container">
                    <div class="signup-content">
                        <form method="POST" action="" id="signup-form" class="signup-form">
                            {% csrf_token %}
                            <h2 class="form-title">Create account</h2>
                            <div class="form-group">
                                <input
                                    type="text"
                                    class="form-input"
                                    name="first_name"
                                    id="name"
                                    placeholder="First Name"
                                />
                            </div>
                            <div class="form-group">
                                <input
                                    type="text"
                                    class="form-input"
                                    name="last_name"
                                    id="name"
                                    placeholder="Last Name"
                                />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-input" name="email" placeholder="Email"/>
                            </div>
                            <div class="form-group">
                                <input
                                    type="text"
                                    class="form-input"
                                    name="phone_number"
                                    id="email"
                                    placeholder="Phone Number"
                                />
                            </div>
                            <div class="form-group">
                                <input
                                    type="password"
                                    class="form-input"
                                    name="password"
                                    id="password"
                                    placeholder="Password"
                                />
                                <span toggle="#password" class="zmdi zmdi-eye-off field-icon toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <input
                                    type="password"
                                    class="form-input"
                                    name="confirm_password"
                                    id="password"
                                    placeholder="Confirm your password"
                                />
                                <span toggle="#password" class="zmdi zmdi-eye-off field-icon toggle-password"></span>
                            </div>
                            {% if error %}
                            <p class="error-message">{{message}}</p>
                            {% endif %} {% if form.errors %}
                            <div class="alert alert-danger">
                                <ul>
                                    {% for field in form %} {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %} {% for err in field.non_field_errors %}
                                    <li>{{ err }}</li>
                                    {% endfor %} {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                            <div class="form-group">
                                <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up" />
                            </div>
                        </form>
                        <p class="loginhere">
                            Have already an account ?
                            <a href="{% url 'user:login' %}" class="loginhere-link">Login here</a>
                        </p>
                    </div>
                </div>
            </section>
        </div>

        <!-- JS -->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

        <script src="{% static 'js/signup-main.js' %}"></script>

    </body>
    <!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
